.login-form {
  position: relative;
  margin-top: 1.875rem;
  &__info {
    display: block;
    width: 19.875rem;
    height: 3.5625rem;
    padding-left: 17px;
    border: 0.0625rem solid $color-grey-davys;
    border-radius: 0.625rem;
    background: $color-black;
    opacity: 0.5;
    @include breakpoint(portrait-mobile-max) {
      width: 17.1875rem;
    }

    &::placeholder {
      position: absolute;
      top: 0.5625rem;
      left: 1.1875rem;
      color: $color-white;
      font-size: 0.875rem;
    }

    &:first-child {
      margin-bottom: 0.75rem;
    }
  }

  .question-mark {
    position: absolute;
    right: 1.5625rem;
    bottom: 4.5625rem;
    opacity: 0.5;
  }

  &-submit {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    margin-top: 1.625rem;
  }

  &__checkbox {
    width: 1.375rem;
    height: 1.4375rem;
    border: 0.0625rem solid $color-grey-davys;
    border-radius: 0.1875rem;
    opacity: 0.1;
  }

  [type="checkbox"]:checked {
    opacity: 1;
  }

  &__reminder {
    font-size: 0.75rem;
    opacity: 0.6;
  }
}
