.login {
  @include backgroundImage("login-bg-img", "png");
  @extend %gridCenter;
  height: 100vh;

  &__title {
    position: relative;
    font-size: rem(49);

    &::after {
      content: "";
      position: absolute;
      right: rem(-10);
      bottom: rem(9);
      width: rem(7);
      aspect-ratio: 1 / 1;
      border-radius: rem(50);
      background: $lightgreen;
    }
  }

  .form {
    &-container {
      @extend %flexCenter;
      flex-direction: column;
      gap: rem(30);
      padding: rem(40);
      border: rem(1) solid rgba($white, 0.349);
      border-radius: rem(16);
      box-shadow: $box-shadow;
      opacity: 0.6;
    }

    &-title {
      font-size: rem(22);
    }
  }
}

.login-form {
  position: relative;
  // margin-top: 1.875rem;
  &__info {
    display: block;
    width: 19.875rem;
    height: 3.5625rem;
    padding-left: 17px;
    border: 0.0625rem solid $color-grey-davys;
    border-radius: 0.625rem;
    background: $color-black;
    opacity: 0.5;
    @include breakpoint(portrait-mobile-max) {
      width: 17.1875rem;
    }

    &::placeholder {
      position: absolute;
      top: 0.5625rem;
      left: 1.1875rem;
      color: $color-white;
      font-size: 0.875rem;
    }

    &:first-child {
      margin-bottom: 0.75rem;
    }
  }

  .question-mark {
    position: absolute;
    right: 1.5625rem;
    bottom: 4.5625rem;
    opacity: 0.5;
  }

  &-submit {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
    margin-top: 1.625rem;
  }

  &__checkbox {
    width: 1.375rem;
    height: 1.4375rem;
    border: 0.0625rem solid $color-grey-davys;
    border-radius: 0.1875rem;
    opacity: 0.1;
  }

  [type="checkbox"]:checked {
    opacity: 1;
  }

  &__reminder {
    font-size: 0.75rem;
    opacity: 0.6;
  }
}
