.login {
  @include backgroundImage("login-bg-img", "png");
  @extend %gridCenter;
  height: 100vh;
  background-color: $black;
  color: $white;
  overflow-y: auto;

  &__title {
    @extend %flexCenter;

    > h1 {
      position: relative;
      font-size: rem(49);
      font-weight: 800;
    }
  }

  .form {
    &__container {
      @extend %flexCenter;
      flex-direction: column;
      gap: 30px;
      padding: 13.16%;
      border: 1px solid rgba($white, 0.349);
      border-radius: 16px;
      background-color: $black-100;
      box-shadow: $box-shadow;

      > h2 {
        font-size: rem(20);

        @include mobile {
          font-size: rem(22);
        }
      }

      > form {
        width: 100%;

        .form-floating {
          .form-control {
            height: 57px;
            border: 1px solid $grey-300;
            background-color: $black;
            color: $white;

            &:focus {
              box-shadow: none;
            }
          }

          label {
            font-size: rem(14);
          }

          [class*="icon-"] {
            right: 16px;
            top: 40%;
            cursor: pointer;
          }
        }

        .form__submit {
          @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          > div {
            @extend %alignCenter;
            justify-content: start;
            gap: 10px;
            margin-bottom: 16px;

            @include tablet {
              margin-bottom: 0;
            }

            > input {
              width: 22px;
              height: 22px;
              border: 1px solid $grey-300;
              border-radius: 3px;
              opacity: 0.1;
              accent-color: $lightgreen;

              &:checked {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
