%flexColumn {
  display: flex;
  flex-direction: column;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%gridCenter {
  display: grid;
  place-items: center;
}

%floatingDropdown {
  display: none;
  width: 100%;
  border: 0;
  font-weight: 600;
  font-size: rem(16);
  line-height: 14px;
  letter-spacing: 0.5px;
  background: transparent;
  color: $black;
  transform-origin: 0 0;
  transition: display 0.1s ease-in-out, transform-origin 0.1s ease-in-out;

  &::placeholder {
    font-weight: 600;
    font-size: rem(16);
    line-height: 14px;
    letter-spacing: 0.5px;
    color: $black;
  }

  &:focus {
    outline: 0;
  }
}

%row-gap-24 {
  row-gap: 24px;
}

%footer {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.147481);
  background: $white;
}
