:root {
  // font size
  --font-49: clamp(1.44rem, 0.93rem + 2.52vw, 3.08rem);
  --font-22: clamp(0.94rem, 0.8rem + 0.67vw, 1.38rem);

  // Padding
  --p-47: clamp(2.11rem, -1.18rem + 6.86vw, 4.672rem);
}

/* ------------------- */
/* Font sizes          */
/* ------------------- */
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;

/* ------------------- */
/* Color               */
/* ------------------- */
$black: hsl(0, 0%, 0%);
$black-100: hsl(0, 10%, 4%);
$White: hsl(0, 0%, 100%);
$lightgreen: hsl(81, 100%, 50%);
$lightgreen-400: hsl(81, 68%, 44%);
$box-shadow: 0 rem(4) rem(114) hsla(0, 0%, 100%, 0.251);
$btn-box-shadow: 0 rem(4) rem(24) hsla(90, 2%, 77%, 0.251);

// Color
$color-black: #000;
$color-black-jet: #3b3b3b;
$color-black-eerie: #262626;
$color-black-eerie-700: #1c1a1a;
$color-black-rich-fogra: hsl(0, 10%, 4%);
$color-white: #ffffff;
$color-white-cultured: #f5f5f5;
$color-white-cultured-200: #fafafa;
$color-grey-davys: #4d4d4d;
$color-grey-davys-100: #4e4e4e;
$color-grey-spanish: #8e8e8e;
$color-grey-web: #838181;
$color-grey-light: #dcd5d5;
$color-green-apple: hsl(81, 100%, 50%);
$color-green-apple-700: hsl(81, 68%, 44%);
$color-green-rgb: hsl(81, 100%, 32%);
$color-silver: #c4c4c4;
$color-silver-sonic: #727272;
$color-platinum: #e9e7e7;
$color-blue-star-command: #007cb0;
$color-blue-sapphire: #195670;
$color-mint-cream: #ddefe8;
$color-cultured: #f1f1f1;
$color-green-yellow-crayola: #e3e48d33;
$color-blue-star-command: #007cb0;
$color-yellowgreen: #86bc25;
$color-purple-dark: #1d1b31;

/* ------------------- */
/* Font weight         */
/* ------------------- */
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

/* ------------------- */
/* Z-index             */
/* ------------------- */
$z-index0: -1;
$z-index1: 1;
$z-index2: 2;
$z-index3: 3;
$z-index4: 4;
$z-index5: 5;

/* ------------------- */
/* Font family         */
/* ------------------- */
$primary-font: "Open Sans";

// fonts path
$fonts-path: "../fonts" !default;

/* ------------------- */
/* Image Path          */
/* ------------------- */
$images-path: "../images" !default;

/* ------------------- */
/* Convert px to rem   */
/* ------------------- */
$base-rem: 16 !default;
