.btn {
  min-width: rem(120);
  padding: rem(6) rem(35);
  border: 0;
  border-radius: 0;
  font-weight: 700;
  color: $black;
  box-shadow: $btn-box-shadow;
}

.btn-success {
  background: $lightgreen;

  &:hover {
    background: $lightgreen-400;
  }
}
