:root {
  // font size
  --font-49: clamp(1.44rem, 0.93rem + 2.52vw, 3.08rem);
  --font-22: clamp(0.94rem, 0.8rem + 0.67vw, 1.38rem);

  // Padding
  --p-47: clamp(2.11rem, -1.18rem + 6.86vw, 4.672rem);
}

// Color
$color-black: #000;
$color-black-jet: #3b3b3b;
$color-black-eerie: #262626;
$color-black-eerie-700: #1c1a1a;
$color-black-rich-fogra: #0b0909;
$color-white: #ffffff;
$color-white-cultured: #f5f5f5;
$color-white-cultured-200: #fafafa;
$color-grey-davys: #4d4d4d;
$color-grey-davys-100: #4e4e4e;
$color-grey-spanish: #8e8e8e;
$color-grey-web: #838181;
$color-grey-light: #dcd5d5;
$color-green-apple: #a6ff00;
$color-green-apple-700: #86bc24;
$color-green-rgb: #6aa500;
$color-silver: #c4c4c4;
$color-silver-sonic: #727272;
$color-platinum: #e9e7e7;
$color-blue-star-command: #007cb0;
$color-blue-sapphire: #195670;
$color-mint-cream: #ddefe8;
$color-cultured: #f1f1f1;
$color-green-yellow-crayola: #e3e48d33;
$color-blue-star-command: #007cb0;
$color-yellowgreen: #86bc25;
$color-purple-dark: #1d1b31;

// font family
$primary-font: "Open Sans";

// fonts path
$fonts-path: "../fonts" !default;

// base unit
$scut-rem-base: 16 !default;
